#portfolio{
	color:	#08a55e;
}
.blankSpace{
	height: 300px;
}
.allProjectScroll{
	width: 650px;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.projContainer1{
	display: flex;
	font-size: 14px;
}
.projName1{
	color: #08a55e;
	font-weight: normal;
	width: 150px;
}
.projDes1
	text-align: top;
	font-size: 14px;
	color: #626262;
	width: 500px;
}
a:-webkit-any-link{
	cursor: auto;
	color: #08a55e;
	text-decoration: none;
}
.projContainer{
	display: flex;
	font-size: 14px;
	font-weight: normal;
	padding-top: 10px;
}
.projName{
	color: #08a55e;
	width: 100px;
}
.projDes{
	width: 550px;
}
.projImgContainer{
	font-size: 14px;
	font-weight: normal;
	padding-top: 10px;
}
.projImgName{
	color: #08a55e;
}
.projImg1{
	background-image: url(../images/p1mars.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}

.projImg2{
	background-image: url(../images/p3s_mtge.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}

.projImg3{
	background-image: url(../images/p3s_mtge2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}

.projImg4{
	background-image: url(../images/p3s_muni.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg5{
	background-image: url(../images/p3s_tbill.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg6{
	background-image: url(../images/p2wei.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg7{
	background-image: url(../images/p2wei_setting.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg8{
	background-image: url(../images/p2wei_setting1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}

.projImg9{
	background-image: url(../images/p4UXP.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg10{
	background-image: url(../images/p5_XFNA_1.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg11{
	background-image: url(../images/p5_XFNA_2.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg12{
	background-image: url(../images/p5_XFNA_3.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg13{
	background-image: url(../images/p5_XFNA_4.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg14{
	background-image: url(../images/p5_XFNA_5.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg15{
	background-image: url(../images/p6_BEVO_XFNA.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg16{
	background-image: url(../images/p7_FCN.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg17{
	background-image: url(../images/p7_FCN_list.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 380px;
}
.projImg1:hover,
.projImg2:hover,
.projImg3:hover,
.projImg4:hover,
.projImg5:hover,
.projImg6:hover,
.projImg7:hover,
.projImg8:hover,
.projImg9:hover,
.projImg10:hover,
.projImg11:hover,
.projImg12:hover,
.projImg13:hover,
.projImg14:hover,
.projImg15:hover,
.projImg16:hover,
.projImg17:hover
{
	background-size: 100%;
	width: 640px;
    height: 480px;
}
